/* General Styles */
body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100%;
}


/* Header Styles */
.header {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.pomodoro {
  font-size: 6em;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
  text-align: center;
}

.timer {
  text-align: center;
  word-spacing: -50px;
}


/* Start Button Styles */
.Start {
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 100px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  height: 100px;
  cursor: pointer;
}
.Start:hover {
  box-shadow: inset 112px 0 0 0 #54b3d6;
  color: rgb(255, 255, 255);
}


/* Header Options */
.headerOptions {
  text-align: center;
  justify-content: center;
  font-size: 25px;
}


/* To-Do List Styles */
#toDoList {
  text-align: center;
  margin-bottom: 5px;
  float: right;
  vertical-align: top;
  position: relative;
  top: -510px;
}

.selectOptions {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
}

select {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#toDoList label {
  font-weight: bold;
  width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  line-height: 1.5em;
  float: right;
  vertical-align: top;
}

#toDoList ul {
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove padding from the ul element */
}

#toDoList li {
  display: flex; /* Set the list items as flex containers */
  align-items: center; /* Align items to the center vertically */
  margin-bottom: 5px; /* Add some space between the to-do items */
}

#toDoList input[type="checkbox"] {
  /* Adjust the checkbox position */
  margin-right: 10px;
}


/* Timer Buttons */
#timerButtons {
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;
  position: relative;
}


/* Link Styles */
.linkStyle {
  color: #eabf9f;
}


/* WB Styles */
.WB {
  font-size: 20px;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 25px;
}


/* Settings Button Styles */
.Settings {
  cursor: pointer;
  margin: auto;
  width: 150px;
}

.Settings:hover {
  text-decoration: underline;
  text-transform: uppercase;
}


/* Reset Button Styles */
.Reset {
  cursor: pointer;
  margin: auto;
  width: 100px;
  position: relative;
  transform: translateY(-25px);
}

.Reset:hover {
  text-transform: uppercase;
  text-decoration: underline;
}
