body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

#root {
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.pomodoro {
  font-size: 6em;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}

.timer {
  text-align: center;
  word-spacing: -50px;
}

.Start {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.headerOptions {
  display: flex;
  justify-content: center;
}

/* to do list box */
#toDoList {
  text-align: center;
  margin-bottom: 5px;
  float: right;
  vertical-align: top;
  position: relative;
  top: -260px;
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
}

#toDoList label {
  font-weight: bold;
  width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  line-height: 1.5em;
  float: right;
  vertical-align: top;
}

#toDoList ul {
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove padding from the ul element */
}

#toDoList li {
  display: flex; /* Set the list items as flex containers */
  align-items: center; /* Align items to the center vertically */
  margin-bottom: 5px; /* Add some space between the to-do items */
}

#toDoList input[type="checkbox"] {
  /* Adjust the checkbox position */
  margin-right: 10px;
}


/* select options */
label.selectOptions {
  font-size: 20px;
  position: relative;
  top: -240px;
  float: left;
}

select {
  position: relative;
  top: -240px;
  float: left;
}

#timerButtons {
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.linkStyle {
  color: #eabf9f;
}

.navigation {
  display: flex;
  align-items: center;
}

.homeLink {
  margin-right: 10px;
}

.navSeparator {
  padding: 0 3px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  /* Hide elements related to to-do list and completed tasks */
  #toDoList,
  #completedTasks,
  .navigation {
    display: none;
  }

  /* Adjust the font size of the header and Pomodoro timer for small screens */
  .header {
    font-size: 60px;
  }

  .pomodoro {
    font-size: 4em;
  }

  /* Adjust the position of select options for small screens */
  label.selectOptions {
    top: -160px;
  }

  select {
    top: -160px;
  }

  /* Adjust the position of #toDoList for small screens */
  #toDoList {
    top: -150px;
  }
}

/* Additional media query to show elements when screen is bigger */
@media only screen and (min-width: 769px) {
  #toDoList,
  #completedTasks,
  .navigation {
    display: flex;
    align-items: center;
  }
}